<!-- 
	home 메인 화면
-->
{% extends "m/common/base" %}

{# 홈 Content #}
{% block content %}

	{########## index의 css, js 포함시켜둔 html을 포함 ##########}
	{% include "m/home/homeBase" %}
	
	{########## 필터 ##########}
	<div class="filterTab"><ul></ul></div>
	<div class="homeCrewList">
		<div class="eachCrewList">
				<div class="filterName">번개크루</div>
				<div class="listTag">
					<span>#테니스</span>
					<span>#대학생</span>
				</div>
				<div class="listTitle">테니스의 왕자</div>
				<div class="listFooter">
					<span>A B C</span>
					<div>
						<span>사람</span>
						<span class="currentApply">6</span>&nbsp;/
						<span class="needApply">10</span>
					</div>
				</div>
		</div>
	</div>
	
	

{% endblock %}
