<!-- 
	home 메인 화면
-->
{% extends "m/common/base" %}

{# 홈 Content #}
{% block content %}

	{########## index의 css, js 포함시켜둔 html을 포함 ##########}
	{% include "m/home/homeBase" %}
	
	{########## 필터 베이스 include ##########}
	{% include "m/home/homeFilter/filterBase"%}
	
	{########## 번개크루모집 팝업프로세스 화면 ##########}
	{% include "m/home/popup/crewThunder/crewRecruit_thunder_init"%}
	{########## 정기크루모집 팝업프로세스 화면 ##########}
	
	{########## 배틀크루모집 팝업프로세스 화면 ##########}
	
	
	
	<!-- 크루모집유형선택 -->
	<div class="crewRecruit_list" style="display:none;">
		<div class="crewRecruit_thunder">
			<a href="javascript:;" id="crewRecruit_thunder" >
				<span>번개크루</span>
				<img alt="번개크루" src="{{path}}/resources/img/common/thunder.png">
			</a>
		</div>
		<div class="crewRecruit_regular">
			<a href="javascript:;" id="crewRecruit_regular">
				<span>정기크루</span>
				<img alt="정기크루" src="{{path}}/resources/img/common/deal.png">
			</a>
		</div>
		<div class="crewRecruit_battle">
			<a href="javascript:;" id="crewRecruit_battle" >
				<span>크루배틀</span>
				<img alt="크루배틀" src="{{path}}/resources/img/common/fist.png">
			</a>
		</div>
	</div>
	<!-- 크루모집 버튼 -->
	<div class="crewRecruit_plusBtn">
		<a href="javascript:;" id="">
			<img alt="크루모집" id="crewRecruit_plusBtn" src="{{path}}/resources/img/common/plusBtn-01.png">
		</a>
	</div>
	

{% endblock %}
