@charset "UTF-8";

/* 회원가입 STEP01 - 연동로그인 및 간단정보 입력 */
.joinPopup {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
}

.joinPopupBody {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 370px;
	height: 750px;
	padding: 12px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 5px 0 rgba(34, 36, 38, 0.3);
	transform: translateX(-50%) translateY(-50%);
}

#closeBtn {
	padding:0;
	border: 0px;
	border-radius:30px;
	width:35px;
	height: 35px;
	float:right;
	background:0;
}

#closeBtn > #hover_circle {
	width:35px;
	height: 35px;
	border-radius: 30px;
	background: #eeeef2;
}

#closeBtn > img {
	width:15px;
	height: 15px;
	background-size: contain;
}

#popContent {
	margin-top: 45px;
}

.popupLogo {
	display: block;
    height: 45px;
    margin: 5px auto 8px;
    width: 45px;
}

.popupTitle {
	margin-top:20px;
	color: rgb(51, 51, 51);
    font-size: 34px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
}

.divInput {
	margin-top:45px;
}

.popupInput {
	margin-top:8px;
}

.popupInput2 {
	margin:15px 0px;
}

.pop-input {
	border:2px solid #e5e5e5;
	border-radius: 18px;
	width:230px;
	height:45px;	
	padding-left: 18px;
	font-size: 14px;
}

.pop-input::placeholder {color:#b6b6b6;}

#joinStep01NextBtn {
	background: #0057ff;
	width: 230px;
	height:40px;
	padding:5px 16px;
	border-radius: 30px;
	border: 0px;
	color:white;
	font-weight: 600;
	font-size:14px;
}
#naverJoin{
	background: #03c75a;
	width: 230px;
	height:40px;
	padding:5px 16px;
	border-radius: 30px;
	border: 0px;
	color:white;
	font-weight: 400;
	font-size:14px;
}
#kakaoJoin{
	background: #f7e317;
	width: 230px;
	height:40px;
	padding:5px 16px;
	border-radius: 30px;
	border: 0px;
	color:#381e1f;
	font-weight: 400;
	font-size:14px;
}

.popupInput3 {
	margin-top: 25px;
	width:250px;
	margin:20px auto 0px;
	height:auto;
}

.popupInput4 {
	margin-top: 10px;
	width:250px;
	margin:20px auto 0px;
	height:auto;
}

#agreeContent{
	font-size: 8px;
	color:#cacaca;
}

#alreadyJoin{
	font-size: 10px;
	font-weight: 600;
	color:#5a5a5a;
}

/* 회원가입 STEP02 - 필요정보동의 설명  */

.joinPopupBody2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 550px;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 5px 0 rgba(34, 36, 38, 0.3);
	transform: translateX(-50%) translateY(-50%);
}

#resignImg {
    top: 0;
    width: 130px;
    margin-top: 15px;
    z-index: 100000;
    background-size: contain;
}

.nt5 {
    justify-content: center;
}

.Z2K {
    align-self: center;
}

.gjz {
    align-items: center;
}

.Hsu {
    box-sizing: border-box;
}

.CDp {
    margin-top: 12px;
}

.RDc {
    margin-bottom: 16px;
}

.Jea {
    display: flex;
    flex-direction: row;
}

.step {
	border-radius: 50px;
	background: lightgray;
	height: 6px;
	width:6px;
	margin: 0 15px;
}

.DoneStep {
	border-radius: 50px;
	background: #454545;
	height: 10px;
	width:10px;
	margin: 0 15px;
}

#popContent2 {
	margin-top: 27px;
}

.popupTitle2 {
	margin-top:25px;
	color: rgb(51, 51, 51);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
}

.divInput2 {
	margin-top:30px;
}

.joinStep02NextBtn {
	border-radius: 30px;
	background: #0057ff;
	width: 330px;
	height: 40px;
	border:0px;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.joinStep02Footer {
	margin-top: 20px;
}

#joinStep02Login {
	font-size:10px;
	font-weight: 600;
}

/* 회원가입 STEP03 - 성별, 나이, MBTI, 하루 중 여유가 되는 시간 입력 */
.joinPopupBody3 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 550px;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 5px 0 rgba(34, 36, 38, 0.3);
	transform: translateX(-50%) translateY(-50%);
}

#popContent3 {
	margin: 57px 0px;
}

.popupTitle3 {
	margin-top:20px;
	color: rgb(51, 51, 51);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
}

.divInput3 {
	margin-top:40px;
}

.joinStep03NextBtn {
	border-radius: 30px;
	background: #0057ff;
	width: 330px;
	height: 40px;
	border:0px;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.joinStep03Info {
	margin : 20px 0px;
}

.joinStep03Content {
	margin : 30px 0px;
}

.joinStep03Title {
	margin:10px 0px;
	font-weight:700;
}

.radioBlank > input[type=radio] {
	margin-right: 10px;
}

.radioBlank > label {
	color: gray;
}

.radioBlank {
	margin: 0 34px;
}

.joinStep03Content > #age,
.joinStep03Content > #mbti {
	width:320px;
	border-radius: 20px;
	height:40px;
	padding-left:18px;
	border: 1.5px solid lightgray;
	font-size: 14px;
}

.joinStep03Content input[type=time] {
	width:150px;
	border-radius: 20px;
	height:40px;
	padding-left:15px;
	padding-right:15px;
	border: 1.5px solid lightgray;
	color: gray;
	font-size: 14px;
}

/* 회원가입 STEP04 - 전화번호, 주소, 링크 입력 */
.joinPopupBody4 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 550px;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 5px 0 rgba(34, 36, 38, 0.3);
	transform: translateX(-50%) translateY(-50%);
}

#previousBtn1 {
	float:left;
	padding:0;
	border: 0px;
	border-radius:30px;
	width:35px;
	height: 35px;
	background:0;
}

#previousBtn1 > img {
	width:15px;
	height: 15px;
	background-size: contain;
}

#popContent4 {
	margin: 57px 0px;
}

.popupTitle4 {
	margin-top:20px;
	color: rgb(51, 51, 51);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
}

.divInput4 {
	margin-top:40px;
}

.joinStep04NextBtn {
	border-radius: 30px;
	background: #0057ff;
	width: 330px;
	height: 40px;
	border:0px;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.joinStep04Info {
	margin : 20px 0px;
}

.joinStep04Content {
	margin : 30px 0px;
}

.joinStep04Title {
	margin:10px 0px;
	font-weight:700;
}

.joinStep04Content > #address,
.joinStep04Content > #onandoff 
{
	margin: 0 10px;
	width:155px;
	border-radius: 20px;
	height:40px;
	padding-left:15px;
	border: 1.5px solid lightgray;
	font-size: 12px;
	
}

.joinStep04Content > #link1,
.joinStep04Content > #link2
{
	font-size: 14px;
	width:320px;
	border-radius: 20px;
	height:40px;
	padding-left:15px;
	border: 1.5px solid lightgray;
}

/* 회원가입 STEP05 - 관심사 */
.joinPopupBody5 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 550px;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 5px 0 rgba(34, 36, 38, 0.3);
	transform: translateX(-50%) translateY(-50%);
}

#previousBtn2 {
	float:left;
	padding:0;
	border: 0px;
	border-radius:30px;
	width:35px;
	height: 35px;
	background:0;
}

#previousBtn2 > img {
	width:15px;
	height: 15px;
	background-size: contain;
}

#popContent5 {
	margin: 40px 0px;
}

.popupTitle5 {
	margin-top:20px;
	color: rgb(51, 51, 51);
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -1.2px;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
}

.divInput5 {
	margin-top:35px;
}

.joinStep05NextBtn {
	border-radius: 30px;
	background: #0057ff;
	width: 390px;
	height: 40px;
	border:0px;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.joinStep05Info {
	margin : 20px 0px;
}

.joinStep05Content {
	margin : 30px 0px;
}

.joinStep05Title {
	margin:10px 0px;
	font-weight:700;
}

#plusBtn {
	width:30px;
	height: 30px;
	background-size: contain;
}










