@charset "UTF-8";

.contentBody { margin: 100px auto; margin-top: 100px;  width: 1280px; }
.study_visual { height: 400px; overflow: hidden; background-color: gray; min-width: 1200px; }

.recomandHead{border: 1px solid #9462ef; margin: 30px 0 30px 0 ;}
.recomandMes{background-color: rgba(160, 107, 255, .1); padding: 11px 20px 13px;}
.recomandMes > p{color: #935cf7; font-size: 1rem; font-weight: 700;}
.recomandFlex{padding: 12px 26px 15px; white-space: nowrap; flex-direction: row}
.recomandFlex > div {display: inline-flex; flex-direction: column; width: 266px; margin-right: 26px; cursor: pointer;}

.filterTitle { font-size:22px; line-height: 150%; font-weight: bold; letter-spacing: -0.5px; color: #2d2f39; font-family: 'Noto Sans KR','NanumGothic', '나눔고딕','Nanum Gothic', '맑은 고딕', 'Malgun Gothic', Dotum}
.filter { display: flex; }
.filter .filterSelect {max-width: 140px; width: 100px; border:1px solid #bcbccb; border-radius: 4px; height: 40px; font-size: .6875rem;, color: #696980; margin-right: 10px; padding-left: 20px; }

.section {display: block; clear: both;}
.thumbnail {width: 23.8%; margin: 0 1.6% 30px 0; line-height: 150%; position: relative; float: left; border-radius: 5px; background: #fff; transition: all 0.3s;}
.icon_box{position: absolute; top: -5px; right: 5px; font-size: 0; z-index: 5;}
.study_item {position: relative; display: block; }
.thumbnail {position: relative; border-radius: 5px; box-shadow: 0 2px 4px rgb(0 0 0 / 5%); border: 1px solid #f3f3f4; overflow: hidden;}
.img_box {position: relative; padding-top: 100%; background: #f7f7f7; cursor: pointer;}