<div class="joinPopup" style="display:none;">
	<div class="joinPopupBody">
		<div style="width:370px; height:2px; background: lightgray;; position: absolute; left: 50%; transform: translateX(-50%); margin-top:45px;"></div>
		<button aria-label="닫기" id="closeBtn">
			<img src="resources/img/popup/close.png">
		</button>
		<div class="popupLogo" style="width:40px; height: 40px;"></div>
		<div id="popContent">
			<div style="margin: 0px auto 15px; text-align: center;">
				<h3 class="popupTitle">사표 쓰러 오셨나요?</h3>
				<div style="color:black; font-size:14px;">사표는 새로운 시작입니다!</div>
			</div>
			<div class="divInput">
			<form id="frm">
				<div class="popupInput">
					<input type="text" class="pop-input" id="email" placeholder="이메일" />
				</div>
				<div class="popupInput">
					<input type="text" class="pop-input" id="pw" placeholder="비밀번호" />
				</div>
				<div class="popupInput">
					<input type="text" class="pop-input" id="age" placeholder="나이" />
				</div>
			</form>
				<div class="popupInput">
					<button id="continueBtn">사표 쓰러가기</button>
				</div>
				<div class="popupInput2">
					<div >또는</div>
				</div>
				<div class="popupInput">
					<button id="naverJoin">네이버로 사표쓰기</button>
				</div>
				<div class="popupInput">
					<button id="kakaoJoin">카카오로 사표쓰기</button>
				</div>
				<div class="popupInput3">
					<div id="agreeContent">사표를 계속 쓰러간다면 서비스약관에 동의하고 개인정보보호정책을 읽었음을 인정하는 것으로 간주합니다.</div>
				</div>
				<div class="popupInput4">
					<div id="alreadyJoin">이미 사표를 쓰셨나요? 로그인하기</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$(function() {
	
	$(".join").off('click').on('click', function() {
		$('.joinPopup').show();
	});
	
	$('#closeBtn').on('click', function() {
		$('.joinPopup').hide();
	});
	
	$('#continueBtn').off('click').on('click', function() {
		var email = $('#email').val();
		var pw = $('#pw').val();
		var age = $('#age').val();
		$.ajax({
			url : 
			, data : {
				email : email
				, pw : pw
				, age : age
			}
			, success : function(data) {
				
			}
			, fail : function(failMsg) {
				
			}
		});
	});
	
	
});


















</script>

