{% extends "common/base" %}

{# 메인페이지 Header #}
{% block header %}

{# block안에 Base파일 추가해서 적용시키기 #}
{% include "indexBase" %}
	<div class="inner maxInner">
		<div id="logoWrap">
      		<a href="/">
       		 	사이드 프로젝트 매칭, 사표
      		</a>
    	</div>
		<div id="gnb">
      		<ul class="group nav_ul">
				<li class="">
					<a class="" href="">소개</a>
				</li>
        		<li class="        ">
					<a class="" href="">프로젝트/스터디</a>
				</li>
				<li class="        ">
					<a class="" href="">토론</a>
				</li>
				<li class="">
					<a class="" href="">아이디어투표</a>
				</li>
				<li class="">
					<a class="" href="">일정</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{# 메인페이지 내용 #}
{% block content %}
   

{% endblock %}

{# 메인페이지 스크립트 #}
{% block script %}

<script>

	$(function() {
		
	});
	
</script>

{% endblock %}
