<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Home">

	<select id="GetFilterTabList" resultType="hashMap">
		SELECT *
		FROM tbFilterTab
		WHERE nStatus = 1
	</select>

	<select id="GetTodayList" resultType="hashMap">
		SELECT b.*
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT *
				FROM tbOneDayCrew
				WHERE dtRegDate >= to_char(SYSDATE, 'YYYYMMDD')
				
				UNION ALL
				
				SELECT *
				FROM tbLongCrew
				WHERE dtRegDate >= to_char(SYSDATE, 'YYYYMMDD')
				
				UNION ALL
				
				SELECT *
				FROM tbCrewBattle
				WHERE dtCrewBattleCreate >= to_char(SYSDATE, 'YYYYMMDD')
				
				UNION ALL
				
				SELECT *
				FROM tbManagerBattle
				WHERE dtManagerBattleCreate >= to_char(SYSDATE, 'YYYYMMDD')
				) a
			) b
			<![CDATA[WHERE b.rn <= 30]]> 
	</select>
	
	<select id="GetCrewList" resultType="hashMap" parameterType="hashMap">
		SELECT a.*
		FROM (
			SELECT *, ROWNUM rn
			FROM #{tableName}
			) a
		<![CDATA[WHERE a.rn <= 30]]>
	</select>
	
	<select id="GetCrewActivityList" resultType="hashMap">
		SELECT b.*
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT
				vcCrewBattleTitle
				, vcCrewBattleLimit
				, (
					SELECT COUNT(*)
					FROM tbBattleConfirmCrewList
					WHERE bc.nCrewMeetCategory = 3
					AND bc.nCrewMeetNo = cb.nCrewBattleSeq
				) AS applyCount
				, '크루활동' as tableInfo
				FROM tbCrewBattle cb
				 
				UNION ALL
				
				SELECT   
				vcManagerBattleTitle
				, vcManagerBattleLimit
				, (
					SELECT COUNT(*)
					FROM tbBattleConfirmCrewList bc
					WHERE bc.nCrewMeetCategory = 4
					AND bc.nCrewMeetNo = mb.nManagerBattleSeq
				) AS applyCount
				, '크루활동' as tableInfo
				FROM tbManagerBattle mb
			) a
		) b
		<![CDATA[WHERE b.rn <= 30]]>
	</select>

	<select id="getListByFilterName" resultType="hashMap" parameterType="hashMap">
		SELECT b.*
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT *
				FROM tbOneDayCrew
				WHERE vcOneDayName LIKE '%#{filterName}%'
				
				UNION ALL
				
				SELECT *
				FROM tbLongCrew
				WHERE vcLongCrewName LIKE '%#{filterName}%'
				
				UNION ALL
				
				SELECT *
				FROM tbCrewBattle
				WHERE vcCrewBattleTitle LIKE '%#{filterName}%'
				
				UNION ALL
				
				SELECT *
				FROM tbManagerBattle
				WHERE vcManagerBattleTitle LIKE '%#{filterName}%'
				) a
			) b
			<![CDATA[WHERE b.rn <= 30]]>
	</select>
	
</mapper>