<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Home">

	<select id="GetFilterTabList" resultType="hashMap">
		SELECT *
		FROM tbFilterTab
		WHERE nStatus = 1
	</select>

	<select id="GetTodayList" resultType="hashMap">
		SELECT b.*
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT *
				FROM tbOneDayCrew
				WHERE dtRegDate >= to_char(SYSDATE, 'YYYYMMDD')
				
				UNION ALL
				
				SELECT *
				FROM tbLongCrew
				WHERE dtRegDate >= to_char(SYSDATE, 'YYYYMMDD')
				
				UNION ALL
				
				SELECT *
				FROM tbCrewBattle
				WHERE dtCrewBattleCreate >= to_char(SYSDATE, 'YYYYMMDD')
				
				UNION ALL
				
				SELECT *
				FROM tbManagerBattle
				WHERE dtManagerBattleCreate >= to_char(SYSDATE, 'YYYYMMDD')
				) a
			) b
			<![CDATA[WHERE b.rn <= 30]]> 
	</select>
	
	<select id="GetCrewList" resultType="hashMap" parameterType="hashMap">
		SELECT a.*
		FROM (
			SELECT *, ROWNUM rn
			FROM #{tableName}
			) a
		<![CDATA[WHERE a.rn <= 30]]>
	</select>
	
	<select id="GetCrewActivityList" resultType="hashMap">
		SELECT b.*, '크루활동' as tableInfo
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT *
				FROM tbCrewBattle cb
				ON cb.nCrewBattleSeq = ap.nCrewMeetNo
				WHERE ap.nCrewMeetCategory = 3
				 
				UNION ALL
				
				SELECT *
				FROM tbManagerBattle mb
				ON mb.nManagerBattleSeq = ap.nCrewMeetNo
				WHERE ap.nCrewMeetCategory = 4
				) a
			) b
			<![CDATA[WHERE b.rn <= 30]]>
			
		SELECT   
		
		(
			SELECT COUNT(*)
			FROM tbBattleApplyCrewList ba
			WHERE ba.nCrewMeetCategory = 3
			AND ba.nBattleApplySeq = #{sequence}
		) AS applyCount
		FROM tbCrewBattle cb
		WHERE cb.nCrewBattleSeq = #{sequence}
	</select>
	
	<select id="GetManagerActivityList" resultType="hashMap">
		SELECT b.*, '크루활동' as tableInfo
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT *
				FROM tbCrewBattle cb
				ON cb.nCrewBattleSeq = ap.nCrewMeetNo
				WHERE ap.nCrewMeetCategory = 3
				 
				UNION ALL
				
				SELECT *
				FROM tbManagerBattle mb
				ON mb.nManagerBattleSeq = ap.nCrewMeetNo
				WHERE ap.nCrewMeetCategory = 4
				) a
			) b
			<![CDATA[WHERE b.rn <= 30]]> 
	</select>
	
	<select id="GetManagerActivityList" resultType="hashMap">
		
	</select>
	
	<select id="getListByFilterName" resultType="hashMap" parameterType="hashMap">
		SELECT b.*
		FROM (
			SELECT a.*, ROWNUM rn
			FROM (
				SELECT *
				FROM tbOneDayCrew
				WHERE vcOneDayName LIKE '%#{filterName}%'
				
				UNION ALL
				
				SELECT *
				FROM tbLongCrew
				WHERE vcLongCrewName LIKE '%#{filterName}%'
				
				UNION ALL
				
				SELECT *
				FROM tbCrewBattle
				WHERE vcCrewBattleTitle LIKE '%#{filterName}%'
				
				UNION ALL
				
				SELECT *
				FROM tbManagerBattle
				WHERE vcManagerBattleTitle LIKE '%#{filterName}%'
				) a
			) b
			<![CDATA[WHERE b.rn <= 30]]>
	</select>
	
</mapper>