<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><!-- 모바일 반응형에 필요 -> 뷰포트를 지정해줌 -->
<link rel="canonical" href="https://www.CampusCrew.com/">
<meta name="theme-color" content="#3ea094">
<meta property="og:site_name" content="CampusCrew">
<meta property="og:image" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="루키들의 모임, 캠퍼스 크루">
<meta property="og:url" content="https://www.CampusCrew.com">
<link rel="icon" href="https://assets.awwwards.com/assets/images/favicon.svg" type="image/svg+xml">
<title>{% block title %} 루키들의 모임, 캠퍼스 크루 {% endblock %}</title>
<!-- 폰트 -->
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<!-- fontawesome -->
<script src="https://kit.fontawesome.com/6b75fdce2b.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- sweetalert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!--  부트스트랩 : https://getbootstrap.com/docs/5.1/forms/validation/  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<!-- 공통 css -->
<link type="text/css" rel="stylesheet" href="http://localhost:9090/campusCrew/resources/css/m/common/detail.css">
<link type="text/css" rel="stylesheet" href="http://localhost:9090/campusCrew/resources/css/m/common/header.css">
<link type="text/css" rel="stylesheet" href="http://localhost:9090/campusCrew/resources/css/m/common/footer.css"> 
<link type="text/css" rel="stylesheet" href="http://localhost:9090/campusCrew/resources/css/m/common/common.css">


<!-- 공통 js -->
<script type="text/javascript" charset="utf-8" src="http://localhost:9090/campusCrew/resources/js/common/common.js"></script>


</head>
<body>


	{########## Loading화면 ##########}
	{% include "m/common/Loading/loading"%}
	{########## Alert화면 ##########}
	{% include "m/common/Alert/alertBox"%}
	
	<div id="root">
		{########## 메인 Header ##########}
		<div id="header" class="" style="left: 0px;">
			{% block header %}
				<!-- 앱 상단 바 -->
				<div class="m_header_bar_control" style="background-color: rgb(255, 255, 255);">
					<div class="m_header_bar">
						<div class="m_header_bar_body">
							<a href="{{path}}/m">
								#신촌캠퍼스
							</a>
							<div class="m_header_bar_menu_list2">
								<a href="{{path}}/m/search">
									<img alt="검색" src="{{path}}/resources/img/common/search (1).png">
								</a>
								<a href="{{path}}/m/alarm">
									<img alt="알람" src="{{path}}/resources/img/common/alarm-bell.png">
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
	
		{########## 메인 Content ##########}
		<div id="content">
			{% block content %}
				
				
			{% endblock %}
		</div>
		
		{########## 로그인/회원가입 팝업 프로세스  ##########}
		{% include "m/login_join/popup/loginJoin_init" %}
		
		{########## 로그인/회원가입 접근버튼 ##########}
		<div id="login_join">
			{% block login %}
			<div id="login_title">
				3초만에 시작				
			</div>
			<div id="login_join_content">
				<a href="javascript:;" id="loginOrjoin">
					<span>
						가입/로그인
					</span>
				</a>
			</div>
			{% endblock %}
		</div>
		
		{########## 번개크루모집 팝업프로세스 화면 ##########}
		{% include "m/home/popup/crewThunder/crewRecruit_thunder_init"%}
		{########## 정기크루모집 팝업프로세스 화면 ##########}
		
		{########## 배틀크루모집 팝업프로세스 화면 ##########}
		{% include "m/home/popup/crewActivity/createActivity_init"%}
		
		
		<!-- <div class="loginJoin_popup" id="loginJoinStep01" style="z-index:21;" tabindex="0">
			<div id="loginJoin_popup_contents">
				<div id="loginJoin_popup_header">
					<a href="javascript:;" class="btn_pop_close" >
						<img src="{{path}}/resources/img/common/close (2).png" alt="닫기">
					</a>
				</div>
				
				<div class="loginJoin_popup_border"></div>
				
				<div id="loginJoin_popup_content">
					<div id="title">로그인/회원가입</div>
					<div id="content">
						<div>
							<input type="text" id="email" placeholder="이메일"/>
						</div>
						<div>
							<input type="text" id="pw" placeholder="비밀번호"/>
						</div>
						<div style="margin-top: 60px;">
							<button id="loginBtn">로그인</button>
						</div>
						<div style="text-align:center;font-size:12px; color:gray; padding:10px;">
							또는
						</div>
						<div>
							<button id="kakaoBtn">카카오로 시작</button>
						</div>
						<div>
							<button id="naverBtn">네이버로 시작</button>
						</div>
					</div>
				</div>	
				
			</div>
		</div> -->
		
		<!-- 크루모집유형선택 -->
		<div class="crewRecruit_box" tabindex="0">
		
			<div class="crewRecruit_list" style="z-index:21;" tabindex="0">
			{% block crewRecruit %}
				<div class="crewRecruit_thunder">
					<a href="javascript:;" id="crewRecruit_thunder" >
						<span>번개크루</span>
						<img alt="번개크루" src="{{path}}/resources/img/common/thunder.png">
					</a>
				</div>
				<div class="crewRecruit_regular">
					<a href="javascript:;" id="crewRecruit_regular">
						<span>정기크루</span>
						<img alt="정기크루" src="{{path}}/resources/img/common/deal.png">
					</a>
				</div>
				<div class="crewRecruit_battle">
					<a href="javascript:;" id="crewRecruit_battle" >
						<span>크루배틀</span>
						<img alt="크루배틀" src="{{path}}/resources/img/common/fist.png">
					</a>
				</div>
				{% endblock %}
			</div>
		
		</div>
		
	
		{########## 메인 Footer ##########}
		<div id="footer">
			{% block footer %}
				<!-- 앱 하단 메뉴 바 -->
				<div class="m_bar_control" style="background-color: rgb(255, 255, 255); z-index:22;">
					<div class="m_bar">
						<div class="m_bar_body">
							<div class="m_bar_menu_list">
								<div>
									<a class="home" href="{{path}}/m"><img alt="홈" src="{{path}}/resources/img/common/hut.png"></a>
								</div>
								<div>
									<a class="challengeFeed" href="{{path}}/m/feed"><img alt="챌린지피드" src="{{path}}/resources/img/common/flag.png"></a>
								</div>
								<div>
									<a class="crewRecruit_plusBtn" id="crewRecruit_plusBtn" href="javascript:;"><img alt="크루개설" src="{{path}}/resources/img/common/plusBtn-01.png"></a>
								</div>
								<div >	
									<a class="chat" href="{{path}}/m/chat"><img alt="채팅" src="{{path}}/resources/img/common/chat.png"></a>
								</div>
								<div>
									<a class="myCrew" href="{{path}}/m/myCrew" style="margin-right:0px;"><img alt="내크루" src="{{path}}/resources/img/common/user.png"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
	</div>
</body>


<script>
// {########## 메인 Script ###########}
{% block script %}

	let path = '{{path}}';
	let developer = '{{developer}}';
	console.log(path);
	
	// 로딩되고 실행할 이벤트
	$(function(){
		
		$('#loginOrjoin').off('click').on('click', () => {
			console.log('로그인 팝업 - 카카오/네이버 로그인');
			loginJoinStep("01");
		});
		
		// 크루개설버튼 클릭 시 크루리스트
		$('.crewRecruit_plusBtn').off('click').on('click', ()=> {
			$('.crewRecruit_list').addClass('layer_open');
		});
		
		$('.crewRecruit_thunder').off('click').on('click', ()=> {
			console.log('번개크루 팝업');
			thunderStep("01");
			$('.crewRecruit_list').hide();
		});

		$('.crewRecruit_regular').off('click').on('click', ()=> {
			console.log('정기크루 팝업');
		});

		/* 
		$('.crewRecruit_battle').off('click').on('click', ()=> {
			console.log('배틀크루 팝업');
		});
		 */
		 
	});
	
	
	
{% endblock %}
</script>

</html>