<script type="text/javascript" charset="utf-8" src="http://localhost:9090/campusCrew/resources/js/m/home/crewActivity/createActivity.js"></script>
<link type="text/css" rel="stylesheet" href="http://localhost:9090/campusCrew/resources/css/m/home/crewActivity/createActivity.css">
{##### 크루활동 개설 프로세스 팝업 #####}

<script>
	$(document).ready(function() {
		createActivity.init();
	})
</script>

{# 크루활동 step1 #}
{% include "m/home/popup/crewActivity/step/createCrewActivity_01" %}

{# 크루활동 step2 #}
{% include "m/home/popup/crewActivity/step/createCrewActivity_02" %}

{# 크루활동 step3 #}
{% include "m/home/popup/crewActivity/step/createCrewActivity_03" %}

{# 크루활동 step4 #}
{% include "m/home/popup/crewActivity/step/createCrewActivity_04" %}