{% extends "common/base" %}

{% block content %}
<!--  공통 js  -->
<link type="text/css" rel="stylesheet" href="http://localhost:9090/resignation/resources/css/studyCss/eachStudy.css" >

<script>
	$(document).ready(function() {
		var isAjaxPro = true;
		
		if (isAjaxPro) {
			$('.positionApplyBtn').click(function() {
				var positionName = $(this).siblings('.positionTxt').text();
				var postData = {'iStudyNo' : {{studyInfo.ISTUDYNO}}, 
									   'positionName' : positionName, 
									   'applyID' : 'plitche'};
				
				requestAjaxPOST('/resignation/study/applyPosition', postData, function(data) {
					switch(data.iReturn) {
					case 0 : 
						msg.info('포지션 지원에 성공하셨습니다.')
						break;
					case 1 : 
						msg.info('해당 포지션은 더이상 남은 자리가 없습니다.')
						break;
					case 2 : 
						msg.info('이미 해당 스터디의 [' + data.appliedPosition + ']포지션에 신청 했었습니다. \n다시 신청 하고 싶으시면 마이페이지에서 취소뒤 다시 시도해주세요.')						
						break;
					default : 
						msg.info('오류가 발생하였습니다. 나정호씨에게 문의해주세요.')
						break;
					}
				});
			});
		}
		
	})
</script>

<div class="contentBody">

	<div class="eachStudyHeader">
		<div class="eachStudyObject">
			<div>
				<span>[스터디/Study]  {{studyInfo.VCSUBJECT}}</span>
			</div>
		</div>
		<div class="eachStudyTitle">
			<h3>{{studyInfo.VCTITLE}}</h3>
			<div class="writerInfoWrap">
				<div class="writerImg"></div>
				<span class="writerInfo">
					<span class="writerID">{{studyInfo.VCMEMBERNICNAME}}</span>
					<span class="writerConfirm">(휴대폰 인증)</span>
					<span class="lastLoginTxt">-오늘 로그인</span>
					<div class="infoHoverMenu">
						<ul>
							<li><a>프로필 상세</a></li>
							<li><a>1:1 대화</a></li>
							<li><a>프로젝트 지원</a></li>
						</ul>
					</div>
				</span>
			</div>
			<div class="studyStatus">
				<span>
					{% if studyInfo.NSTATUS == 0 %}
						모집중
					{% elseif studyInfo.NSTATUS == 1 %}
						모집완료
					{% else %}
						????
					{% endif %}
				</span>
			</div>
		</div>
	</div>
	
	<div class="eachStudyBody">
		<div class="sutdyDetaileInfo">
			<div class="studyTab">
				<div class="memberApplyBox">
					<h3 class="tabTit">모집 현황</h3>
					<ul>
						{% for participantsInfo in participantsInfoList %}
						<li>
							<span class="positionTxt">{{participantsInfo.VCPOSITION}}</span>
							<span class="positionNum">{{participantsInfo.APPLYSTATUS}}</span>
							<button value="지원" class="positionApplyBtn">지원</button>
						</li>
						{% endfor %} 
					</ul>
				</div>
			</div>
			
			<div class="contentDesc">
				<h3>- 소개</h3>
				<img src="https://letspl.s3.ap-northeast-2.amazonaws.com/images_temp/981/mockup.jpg">
				<div>
					{{studyInfo.VCCONTENT}}
				</div>
			</div>
		</div>
		
		<div class="studyRightInfo">
			<div>
				<div class="heartAndShareWrap">
					<a class="viewsCount">
						<span>조회</span>
						<span>{{studyInfo.NHIT}}</span>
					</a>
					<a class="likeCount">
						<span>찜</span>
						<span>496</span>
					</a>
					<a class="shareBtn">
						<span>T</span>
						<span>공유</span>
					</a>
				</div>
				<div class="basicInfoWrap">
					<p>리더 정보</p>
					<div>
						<div class="writerDetailInfo">
							<div class="writerImg"></div>
							<div class="writerRightBox">
								<span class="writerID">
									{{studyInfo.VCMEMBERNICNAME}}
									<div class="infoHoverMenu">
										<ul>
											<li><a>프로필 상세</a></li>
											<li><a>1:1 대화</a></li>
											<li><a>프로젝트 지원</a></li>
										</ul>
									</div>
								</span>
								<span class="writerConfirm">휴대폰 인증완료</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="studyPeriod">
					<p class="checkboxTit">스터디 기간 ({{studyInfo.duration}}일) </p>
					<p class="tabTxt">{{studyInfo.DTSTARTDATE}} ~ {{studyInfo.DTENDDATE}}</p>
				</div>
				
				<div class="studyInfoWrap">
					<p class="checkboxTit">프로젝트 분야</p>
					<p class="tabTxt">[{{studyInfo.VCSUBJECT}}] {{studyInfo.VCTITLE}}</p>
				</div>
			</div>
		</div>
	</div>
	

</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		// 작성자 마우스 오버 이벤트
		$('.writerInfo, .writerRightBox').mouseover(function() {
			$(this).find('.infoHoverMenu').show();
		});
		
		$('.writerInfo, .writerRightBox').mouseleave(function() {
			$(this).find('.infoHoverMenu').hide();
		});
	});
</script>
{% endblock %}

