{% extends "common/base" %}

{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script>
	$(document).ready(function() {
		$('.study_item_wrap').mouseover(function() {
			$(this).find('.item_info').show();
		});
		
		$('.study_item_wrap').mouseleave(function() {
			$(this).find('.item_info').hide();
		});
		
		$('.study_item').click(function() {
			location.href="/resignation/study/eachStudy";
		});
		
		console.log('{{studyList}}');
	});
	
	
	$(function() {
		var mySwiper = new Swiper('.swiper-container', {});
	});
</script>
{% endblock %}

{% block content %}
<!--  공통 js  -->
<link type="text/css" rel="stylesheet" href="http://localhost:9090/resignation/resources/css/studyCss/studyMain.css" >

<div class="contentBody">
	<div class="swiper-container">
		<div class="study_visual swiper-wrapper" >
			<div class="swiper-slide"><img src="http://localhost:9090/resignation/resources/assets/images/study/studyBanner1.jpg" alt="스터디 배너 이미지" /></div>
			<div class="swiper-slide"><img src="http://localhost:9090/resignation/resources/assets/images/study/studyBanner2.jpg" alt="스터디 배너 이미지" /></div>
			<div class="swiper-slide"><img src="http://localhost:9090/resignation/resources/assets/images/study/studyBanner3.jpg" alt="스터디 배너 이미지" /></div>
		</div>
	</div>
	<div class="recomandHead">
		<div class="recomandMes"><p>[추천] 딱! 당신을 기다리는 프로젝트입니다</p></div>
		<div class="recomandFlex">
			<div>스터디추천1</div>
			<div>스터디추천2</div>
			<div>스터디추천3</div>
			<div>스터디추천4</div>
		</div>
	</div>
	
	<h2 class="filterTitle">어떤 분야의 스터디를 찾고 계시나요?</h2>
	<div class="filter">
		<select class="filterSelect">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
		<select class="filterSelect"></select>
		<select class="filterSelect"></select>
		<select class="filterSelect"></select>
	</div>
	
	<div class="section">
		<div class="study_list">
			{% for studyItem in studyList  %}
				<div class="study_item_wrap">
				<div class="icon_box">
					<img src="https://cdn.loud.kr/prod/LOUD_IMG/designer/img-loudpick-label-s.png" alt="라벨">
				</div>
				
				<div class="study_item">
					<div class="thumbnail">
						<div class="img_box">
							<img src="https://cdn.loud.kr/prod/upload/ordersub/b_file1/thumimg2/order_sub_2851786_1_210926231452.jpg" alt="스터디이미지">
						</div>
						<div class="item_info">
							<ul>
								<li class="txt_bold">{{studyItem.VCSUBJECT}}</li>
								<li class="txt_medium">{{studyItem.VCMEMBERADDRESS}}</li>
							</ul>
							<button class="btn_like"><i class="far fa-heart btn_like"></i></button>
						</div>
					</div>
					
					<div class="item_writer_info">
						<div class="profile">
							<a>
								<img src="https://cdn.loud.kr/prod/LOUD_IMG/cl/no_img.jpg" alt="memberPhoto">
							</a>
						</div>
						<p class="tit"><a>{{studyItem.VCMEMBERNICKNAME}}</a></p>
						<button class="simple_btn_follow"><span>팔로우</span></button>
						<ul class="win_info">
							<li class="prize">{{studyItem.DTSTARTDATE}} ~ {{studyItem.DTENDDATE}} </li>
							<li class="win">&nbsp; {{studyItem.VCTIME}}</li>
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</div>
{% endblock %}

