{% extends "common/base" %}

{% block content %}
<!--  공통 js  -->
<link type="text/css" rel="stylesheet" href="http://localhost:9090/resignation/resources/css/studyCss/studyMain.css" >

<div class="contentBody">
	<div class="navTitle" >
		<p>더 좋은 곳으로! 사표를 위해</p>
		<strong><span>스터디</span> 함께해요!</strong>
	</div>
	
	<div class="filter">
		필터링 기능들
	</div>
	
	<div class="recomandHead">
		<div class="recomandMes"><p>[추천] 딱! 당신을 기다리는 프로젝트입니다</p></div>
		<div class="recomandFlex">
			<div>스터디추천1</div>
			<div>스터디추천2</div>
			<div>스터디추천3</div>
			<div>스터디추천4</div>
		</div>
	</div>
	
	<div class="">
	
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		
	});
</script>
{% endblock %}

