{% extends "common/base" %}

{% block content %}
<!--  공통 js  -->
<link type="text/css" rel="stylesheet" href="http://localhost:9090/resignation/resources/css/studyCss/studyMain.css" >

<div class="contentBody">
	<div class="study_visual" >
	</div>
	
	<div class="recomandHead">
		<div class="recomandMes"><p>[추천] 딱! 당신을 기다리는 프로젝트입니다</p></div>
		<div class="recomandFlex">
			<div>스터디추천1</div>
			<div>스터디추천2</div>
			<div>스터디추천3</div>
			<div>스터디추천4</div>
		</div>
	</div>
	
	<h2 class="filterTitle">어떤 분야의 스터디를 찾고 계시나요?</h2>
	<div class="filter">
		<select class="filterSelect">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		</select>
		<select class="filterSelect"></select>
		<select class="filterSelect"></select>
		<select class="filterSelect"></select>
	</div>
	
	<div class="section">
		<div class="study_list">
			<div class="study_item_wrap">
				<div class="icon_box">
					<img src="https://cdn.loud.kr/prod/LOUD_IMG/designer/img-loudpick-label-s.png" alt="라벨">
				</div>
				<div class="study_item">
					<div class="thumbnail">
						<div class="img_box">
							<img src="https://cdn.loud.kr/prod/upload/ordersub/b_file1/thumimg2/order_sub_2851786_1_210926231452.jpg" alt="스터디이미지">
						</div>
					</div>
					<div class="cont"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
		
	});
</script>
{% endblock %}

