@charset "UTF-8";


/***************** 번개크루 step01 *******************/
#thunderStep01{background:white;position:fixed;top:100%;bottom:0;left:0;right:0;width:100%;height:100%;visibility: hidden;opacity:0; z-index:3000; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;overflow:hidden;}
#thunderStep01.layer_open{display:block;top:0;visibility:visible;opacity:1;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;overflow:hidden;}
#recruit_popup_contents{
	width: 100%;
    background: #fff;
    height: 100%;
}

#recruit_popup_header{
	height:55px;
	top:0;
	left:0;
	width:100%;
	/* background: #fff; */
	z-index:21;
}

.btn_pop_previous {
	position: absolute;
    top: 28px;
    left: 24px;
    width: 16px;
    height: 16px;
    z-index: 5;
    background-size: 16px auto;
    font-size: 0px;
}

.btn_pop_previous img {
     height: 16px;
 }

.thunder_btn_pop_close {
    position: absolute;
    top: 28px;
    right: 24px;
    width: 16px;
    height: 16px;
    z-index: 5;
    background-size: 16px auto;
    font-size: 0px;
}

.thunder_btn_pop_close img {
    height: 16px;
}

.recruit_popup_border_1 {
	width: 12.5%;
    height: 10px;
    background: #00FFA3;
}

#recruit_popup_content {
	height:100%;	
}

#recruit_popup_content #title {
	padding: 20px 20px 45px 20px;
}

#recruit_popup_content #title .title_contents {
	font-family: "Pretendard Bold";
	font-size: 22px;
	color: black;
}

#recruit_popup_content #content span {
	color:#c5c5c5; 
	font-size: 16px;
	border-radius:30px;
}



#recruit_popup_content #content {
	padding: 0 20px;
}

#recruit_popup_content #content input[type=radio] {
	display:none;
	margin:10px;
}

#recruit_popup_content #content .crewTypeContent {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #ccc;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:#acacac;
	margin-bottom:10px;
}

#recruit_popup_content #content .crewTypeContent.on {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #2B00FF;
	background:#2B00FF;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:white;
	margin-bottom:10px;
}
/* 
#recruit_popup_content #content input[type=radio]+ label {
	margin-bottom:10px;
} */


#recruit_popup_footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 24px 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 1%, rgba(255, 255, 255) 40%, #ffffff);
    text-align: center;
    z-index: 21;
}

#recruit_popup_footer #btnThunderNext1 {
	display: block;
    height: 60px;
    padding: 10px 10px;
    font-size: 14px;
    color: #acacac;
    text-align: center;
    vertical-align: middle; 
    border: 0px solid; 
    border-radius: 10px; 
    background: #ececec; 
    font-weight:900;
    cursor: pointer; 
    width: 100%;
}

#recruit_popup_footer #btnThunderNext1.blue {
	display: block;
    height: 60px;
    padding: 10px 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle; 
    border: 0px solid; 
    border-radius: 10px; 
    background: #2B00FF; 
    font-weight:900;
    cursor: pointer; 
    width: 100%;
}


/***************** 번개크루 step02 *******************/
#thunderStep02{background:white;position:fixed;top:100%;bottom:0;left:0;right:0;width:100%;height:100%;visibility: hidden;opacity:0; z-index:3000; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;overflow:hidden;}
#thunderStep02.layer_open{display:block;top:0;visibility:visible;opacity:1;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;overflow:hidden;}


.recruit_popup_border_2 {
	width: 25%;
    height: 10px;
    background: #00FFA3;
}

#recruit_popup_content #content_1 span {
	color:#c5c5c5; 
	font-size: 16px;
	border-radius:30px;
}



#recruit_popup_content #content_1 {
	padding: 0 20px;
}

#recruit_popup_content #content_1 input[type=radio] {
	display:none;
	margin:10px;
}

#recruit_popup_content #content_1 .crewFieldContent {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #ccc;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:#acacac;
	margin-bottom:10px;
}

#recruit_popup_content #content_1 .crewFieldContent.on {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #2B00FF;
	background:#2B00FF;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:white;
	margin-bottom:10px;
}

#recruit_popup_content #content_2 span {
	color:#c5c5c5; 
	font-size: 16px;
	border-radius:30px;
}



#recruit_popup_content #content_2 {
	padding: 0 20px;
}

#recruit_popup_content #content_2 input[type=radio] {
	display:none;
	margin:10px;
}

#recruit_popup_content #content_2 .crewFieldContent {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #ccc;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:#acacac;
	margin-bottom:10px;
}

#recruit_popup_content #content_2 .crewFieldContent.on {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #2B00FF;
	background:#2B00FF;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:white;
	margin-bottom:10px;
}

#recruit_popup_content #content_3 span {
	color:#c5c5c5; 
	font-size: 16px;
	border-radius:30px;
}



#recruit_popup_content #content_3 {
	padding: 0 20px;
}

#recruit_popup_content #content_3 input[type=radio] {
	display:none;
	margin:10px;
}

#recruit_popup_content #content_3 .crewFieldContent {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #ccc;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:#acacac;
	margin-bottom:10px;
}

#recruit_popup_content #content_3 .crewFieldContent.on {
	display: inline-block;
	margin:0px;
	padding: 8px 19px;
	border: 1px solid #2B00FF;
	background:#2B00FF;
	font-size: 16px;
	text-align:center;
	border-radius: 30px;
	color:white;
	margin-bottom:10px;
}

#recruit_popup_footer #btnThunderNext2 {
	display: block;
    height: 60px;
    padding: 10px 10px;
    font-size: 14px;
    color: #acacac;
    text-align: center;
    vertical-align: middle; 
    border: 0px solid; 
    border-radius: 10px; 
    background: #ececec; 
    font-weight:900;
    cursor: pointer; 
    width: 100%;
}

#recruit_popup_footer #btnThunderNext2.blue {
	display: block;
    height: 60px;
    padding: 10px 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle; 
    border: 0px solid; 
    border-radius: 10px; 
    background: #2B00FF; 
    font-weight:900;
    cursor: pointer; 
    width: 100%;
}

/** 번개크루 step03 - 크루제목 **/
/***************** 번개크루 step02 *******************/
#thunderStep03{background:white;position:fixed;top:100%;bottom:0;left:0;right:0;width:100%;height:100%;visibility: hidden;opacity:0; z-index:3000; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;overflow:hidden;}
#thunderStep03.layer_open{display:block;top:0;visibility:visible;opacity:1;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;overflow:hidden;}


.recruit_popup_border_3 {
	width: 37.5%;
    height: 10px;
    background: #00FFA3;
}
