@charset "UTF-8";

/* 화면이 400px 이상부터 content 사라짐 */
@media (min-width : 401px) {
	#content {
		display:none;
	}
}

body {
	margin : 0;
	font-family: Gotham,"Noto Sans Kr","Roboto",sans-serif;
	min-width: 320px;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

 a {
	text-decoration: none;
}

body #root {
	height : 100%;
}



