@charset "UTF-8";

/* 화면이 400px 이상부터 content 사라짐 */
@media (min-width : 401px) {
	#content {
		display:none;
	}
}
@media (min-width : 401px) {
	#login_join {
		display:none;
	}
}

body {
	margin : 0;
	font-family: Gotham,"Noto Sans Kr","Roboto",sans-serif;
	min-width: 320px;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

 a {
	text-decoration: none;
}

body #root {
	height : 100%;
}

#login_join {
	display:flex;
	position: fixed;
	font-size: 10px;
    border: 1px solid lightgray;
    padding: 5px 7px;
    border-radius: 50px;
	bottom: 50px;
	z-index: 20;
	left:50%;
	transform:translate(-50%, -50%);
	align-items: center;
}

#login_join_content {
	padding: 10px;
    background: blue;
    border-radius: 50px;
}

#login_join #login_title {
	padding-right: 5px;
}

#login_join_content a span {
	color:white;
	font-weight:700;
}

