@charset "UTF-8";

/* 화면이 500px 이하부터 앱메뉴바가 보이고 웹메뉴바는 사라짐 */
@media (max-width: 400px) {
	#footer {
		display:block;
	}
	#header {
		display:block;
	}
}


#footer {
	width:100%;
}

.m_bar_control {
	bottom:0;
	left:0;
	right:0;
	position:fixed;
}

.m_bar {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 0.5px solid lightgray;
}

.m_bar .m_bar_body {
    width: 89.0625vw;
    max-width: 1140px;
}

.m_bar .m_bar_body {
    display: flex;
    align-items: center;
}

/* 하단 바 설정 시작 */
.m_bar .m_bar_body div.m_bar_menu_list {
    margin: 0 auto;
	display:flex;
}


.m_bar .m_bar_body div.m_bar_menu_list .home img {
	min-width:20px;
	max-width:20px;
}

.m_bar .m_bar_body div.m_bar_menu_list .challengeFeed img {
	min-width:19px;
	max-width:19px;
     margin-left: 54px;
}

.m_bar .m_bar_body div.m_bar_menu_list .location img {
	min-width:20px;
	max-width:20px;
     margin-left: 54px;
}

.m_bar .m_bar_body div.m_bar_menu_list .chat img {
	in-width:19px;
	max-width:19px;
    margin-left: 54px;
}

.m_bar .m_bar_body div.m_bar_menu_list .myCrew img {
	min-width:20px;
	max-width:20px;
    margin-left: 54px;
}
/* 하단 바 설정 끝 */


/* 하단 바 새로운 설정 시작 */
.category_box {
    position: sticky;
    top: 111px;
    width: calc(100% - 40px);
    z-index: 99;
}

.category_box li:first-child {
    margin-left: 0px;
}

li {
    list-style-type: none;
}

.category_box li {
    float: left;
    margin-left: 13px;
    width: calc(25% - 10px);
}

.category_box li a {
    display: block;
    width: 100%;
    height: 80px;
    padding: 14px 5px 10px;
    border-radius: 18px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    min-width: 82px;
}
/* 하단 바 새로운 설정 끝 */

