@charset "UTF-8";

/* 화면이 500px 이상부터 웹메뉴바가 보이고 앱메뉴바는 사라짐 */
@media (min-width : 400px) {
	#footer {
		display:none;
	}
	#header {
		display:none;
	}
}


#header {
	width:100%;
}

/* 앱 상단 바 */
.m_header_bar {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.m_header_bar .m_header_bar_body {
    width: 89.0625vw;
    max-width: 1140px;
}

.m_header_bar .m_header_bar_body {
    display: flex;
    align-items: center;
}

.m_header_bar > .m_header_bar_body > a {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 22px;
	color: #2B00FF;
}

.m_header_bar .m_header_bar_body img.UserNavigationBar_logo__oz0A3 {
    width: 19px;
    vertical-align: middle;
}

.m_header_bar .m_header_bar_body a>.UserNavigationBar_drawer-btn__HIHou {
    display: none;
}

.m_header_bar .m_header_bar_body div.m_header_bar_menu_list2 {
    flex: 1 1;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.m_header_bar .m_header_bar_body div.m_header_bar_menu_list2>div, .m_header_bar .m_header_bar_body div.m_header_bar_menu_list2 a {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.8px;
    text-align: right;
    color: #333;
    cursor: pointer;
}

.m_header_bar .m_header_bar_body div.m_header_bar_menu_list2>div>img, .m_header_bar .m_header_bar_body div.m_header_bar_menu_list2 a>img {
    min-width:22px;
	max-width:22px;
    margin-left: 20px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.m_header_bar .m_header_bar_body div.m_header_bar_menu_list2>div, .w_bar .m_header_bar_body div.m_header_bar_menu_list2 a {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.8px;
    text-align: right;
    color: #333;
    cursor: pointer;
}










