@charset "UTF-8";

/* 홈 필터 */
.filterTab ul {display: flex;}
.filterTab ul li {padding: 5px 3px;}

/* 홈 리스트 */
.homeCrewList .eachCrewList {background-color: lightblue; border-radius: 5%; margin: 2% 3%; width: 370px; height: 130px; position: relative;}
.homeCrewList .eachCrewList .filterName {position: absolute; right: 20px; top:10px; background-color: white; border-radius: 50%; width: 70px; height: 25px; text-align: center; line-height: 25px;}
.listTag {position: relative; left: 30px; top: 20px; color: white;}
.listTitle {position: relative; left: 30px; top: 10px; color: white; font-weight: bold; font-size: 2rem;}
.listFooter {position: relative; display: flex; top: 20px; left: 30px; color: white;}
.listFooter > span {position: relative;}
.listFooter > div {position: relative; left: 5px;}
.currentApply {}
.needApply {}