<script type="text/javascript" charset="utf-8" src="http://localhost:9090/resignation/resources/js/common/join.js" ></script>
{# 회원가입 STEP01 - 회원가입을 위한 첫번째 스텝(이메일, 비번, 나이 및 연동 로그인) #}
{% include "popup/join/joinPopupStep/joinPopupStep01" %}

{# 회원가입 STEP02 - 필요정보동의 설명 #}
{% include "popup/join/joinPopupStep/joinPopupStep02" %}

{# 회원가입 STEP03 - 성별, 나이, MBTI, 하루 중 여유가 되는 시간 입력 #}
{% include "popup/join/joinPopupStep/joinPopupStep03" %}

{# 회원가입 STEP04 - 전화번호, 주소, 링크 입력 #}
{% include "popup/join/joinPopupStep/joinPopupStep04" %}

{# 회원가입 STEP04 - 관심사 #}
{% include "popup/join/joinPopupStep/joinPopupStep05" %}